/* css reset */
* {
  margin: 0;
  padding: 0;
}

.head{
  font-size: 60px;
  margin-left: 10px;
  margin-top: -30px;
  text-shadow: rgb(177, 168, 168) 2px 2px;
}
.span {
  animation: color-animation 4s linear infinite;
}
.span1{
  --color-1: #83c081;
  --color-2: #d14710;
  --color-3: #E4A9A8;
}
.span2{
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}
.span3{
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}
.span4{
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}
@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
.para{
  font-family: "Montserrat Medium";
  max-width: 40ch;
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  /* display: inline-block; */
  margin-left: 23px;
  opacity: 0;
  filter: blur(4px);
  font-size: 28px;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
#hula{
  width: 736px;
  margin-left: -25px;
  text-shadow: rgb(177, 168, 168) 1px 1px;
}
#eula{
  width: 736px;
  margin-left: -25px;
  text-shadow: rgb(177, 168, 168) 1px 1px;
}
.para:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.para:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.para:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(19) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.para:nth-child(20) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
html {
  scroll-behavior: smooth;
}

/* css variables */
:root {
  --navbar-height: 59px;
}

/* navigation bar */

#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;

}

/* nav bar: logo and image */
#logo {
  margin: -28px 20px;

}

#logo img {
  height: 73px;
  width: 73px;
  margin: 24px 25px;

}

/* nav bar: list items */
#navbar ul {
  display: flex;
}

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.5;

}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  display: block;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 8px 20px;
  margin: 20px 11px;
}

#navbar ul li a:hover {
  color: black;
  background-color: white;

}

#search {
  margin: 16px 168px;
  /* height: 50px; */
  font-size: 18px;
  font-weight: bold;
  padding: 15px 14px;
  border: 2px solid rgb(240, 158, 158);
  border-radius: 10px;
}

#search:hover{
  background: palegoldenrod;
  font-style: italic;
}
/*home section  */
#home {
  display: flex;
  flex-direction: column;
  height: 590px;
  padding: 3px 15px;
  justify-content: center;
  text-align: left;
  /* align-items:center; */
}

#home::before {
  content: "";
  background: url('../bgrnd1.jpg') no-repeat center center/cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.89;
}

#home h1 {
  color: white;
  text-align: left;
}

#home p {
  padding: 8px 30px;
  color: white;
  text-align: left;
  font-size: 1.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* services section */
#heading1{
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  width: 550px;
  margin: auto;
  /* text-shadow: 5px 5px rgb(177, 168, 168); */
}
#heading1 span{
  text-shadow: 5px 5px rgb(177, 168, 168);
  font-size: 50px;
  margin-left: 40px;
  font-weight: 800;
}
.message{
  padding-right: 105px;
  margin-left: -90px;
  background-color: yellow;
  color: #333;
  display: block;
  font-weight: 900;
  overflow: hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 270px;
  animation: openclose 5s ease-in-out infinite;
}
.word1, .word2, .word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 230px;
  }
  30% {
    top: 0.2rem;
    width: 230px;
  }
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 190px;
  }
  62% {
    top: -4.5rem;
    width: 190px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 285px;
  }
  95% {
    top: -9rem;
    width: 285px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}
#services {
  margin: 15px 34px;
  display: flex;
}

#services-container {

  margin: 34px 15px;
  padding: 15px 4px;

}

#services-container h1 {

  text-shadow: 5px 5px rgb(177, 168, 168);

}


#services .box {
  margin: 19px 39px;
  padding: 14px 10px;
  border-radius: 23px;
  background-color: #f1e9ee;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 7px 5px 3px 3px brown;


}

#services .box:hover {
  transform: scale(1.2);
  transition-duration: 1s;

}

#services .box img {
  height: 150px;
  display: block;
  margin: auto;
}

#services .box p {
  font-size: 1.0rem;
  font-weight: bold;
}

/* our menu section */
#menu-section {
  height: 900px;
}

#menu-section h1 {
  text-shadow: 5px 5px rgb(177, 168, 168);
}

#menu-section::before {
  content: "";
  background: url('../indian food.jpg') no-repeat center center/cover;
  position: absolute;
  height: 140%;
  width: 100%;
  z-index: -2;
  opacity: 0.5;
}

#menu {
  display: flex;
  flex-direction: column;
  margin: 4px 10px;
  padding: 5px 70px;

}

#menu .menu-items1 {
  /* transform: scale(1.2);
  transition-duration: 1s; */
  display: flex;
  margin: 20px 20px;
  padding: 21px 50px;
  background-color: #f1e9ee;
  border-radius: 15px;
  justify-content: space-between;
  box-shadow: 7px 5px 3px 3px brown;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#menu .menu-items2 {
  /* transform: scale(1.2);
  transition-duration: 1s; */
  display: flex;
  margin: 20px 20px;
  flex-direction: row-reverse;
  padding: 21px 50px;
  background-color: rgb(233, 200, 220);
  border-radius: 15px;
  justify-content: space-between;
  box-shadow: 7px 5px 3px 3px brown;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

#menu .menu-items1 img {
  display: block;
  height: 100px;
  width: 150px;
}

#menu .menu-items2 img {
  display: block;
  height: 100px;
  width: 150px;
}

#menu1 {
  
  margin: 2px 15px;
  padding: 6px 18px;
}

#menu2 {
  
  margin: 2px 15px;
  padding: 6px 18px;
}

#menu3 {
  
  margin: 2px 15px;
  padding: 6px 18px;
}

#menu4 {
  
  margin: 2px 15px;
  padding: 6px 18px;
}

/* contact us section */
#contact {
  position: relative
}

#contact h1 {
  text-shadow: 5px 5px rgb(177, 168, 168);
}

#contact::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../contact\ us\ .img.jpg') no-repeat center center/cover;
  z-index: -1;
  opacity: 0.5;
}

#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}




/* footer */
footer {
  background: brown;
  color: white;
  padding: 13px 20px;
}

/* utility classes */
.h-primary {
  font-size: 3.3rem;
  padding: 5px 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.h-secondary {
  font-size: 1.8rem;
  padding: 13px 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.btn {
  /* transform: scale(1.2); */
  transition-duration: 1s;
  font-size: 20px;
  margin-left: 150px;
  margin-top: 30px;
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  /* background-color: yellow; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn:before {
  transform: scale(1.2);
  transition-duration: 1s;
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  background-color: grey;
}
.btn:active {
  transform: scale(1.2);
  transition-duration: 1s;
  color: #000
}
.btn:active:after {
  transform: scale(1.2);
  transition-duration: 1s;
  background: transparent;
}
.btn:hover:before {
  transform: (1.2);
  transition-duration: 1s;
  opacity: 1;
}
.btn:after {
  /* transform: scale(1.2);
  transition-duration: 1s; */
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.center {
  text-align: center;
}